* {
    font-family: 'Montserrat', sans-serif;
}

nav, footer  {
    background: #022177 !important;
}

main {
    background: #5671BB;
}

section {
    margin: 5%;
    padding: 5%;
    background: #ffffff;
    border-radius: 5px;
}

p {
    text-indent: 10%;
}

footer, footer a {
    color: white;
}

footer a {
    text-decoration: underline;
}

.card-img-overlay {
    margin: 10% !important;
    margin-left: 50% !important;
}

.btn-outline-secondary {
    color: #022177;
    border-color: #022177;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #022177;
    border-color: #022177;
}

.btn-outline-secondary.focus, .btn-outline-secondary:focus {
    box-shadow: 0 0 0 0.2rem #022177;
}
.navbar-brand{
    font-weight: bold;
}

.card-img-overlay{
    color: #022177;
}
