<div *ngIf="loading" style="height: calc(100vh - 73px - 2rem);"
class="container d-flex justify-content-center align-content-center">
    <div class="spinner-border txt-gray-bread m-auto" role="status">
        <span class="sr-only ">Loading...</span>
    </div>
</div>
<div *ngIf="!loading" class="container">
    <h2 class="mb-5 mt-5">Cписок ваших услуг</h2>
    <div class="row mb-5">
      <div class="col-sm-12 col-md-12 col-lg-auto col-xl-auto">
        <a class="btn btn-success btn-block" [routerLink]="['/add-service']">Добавить услугу</a>
      </div>
    </div>
    <div class="wrap-for-table">
        <table class="table">
        <tr>
            <th>Название услуги</th>
            <th>Цена</th>
            <th>Управление</th>
        </tr>
        <tr *ngFor="let service of servicies">
            <td>{{service.title}}</td>
            <td>{{service.price}}</td>
            <td>
            <button type="button" class=" btn-sm btn btn-danger" (click)="onDelete(service.id_service)"
                [disabled]="service.id_service==id_service">Удалить</button>
            </td>
        </tr>
        </table>
    </div>
    
</div>