<div class="container">
  <h2 class="mt-5 mb-3 d-flex justify-content-center">
    <span *ngIf="role == 'Администратор'">Панель администратора</span>
    <span *ngIf="role == 'Владелец'"
      >Личный кабинет владельца недвижимости</span
    >
    <span *ngIf="role == 'Риэлтор'">Личный кабинет риэлтора</span>
    <span *ngIf="role == 'Покупатель'">Личный кабинет покупателя</span>
  </h2>
  <div *ngIf="role == 'Администратор'">
    <h3 class="mb-3">Управление пользователями и агентствами:</h3>
    <div class="list-group">
      <button
        type="button"
        class="list-group-item list-group-item-action"
        [routerLink]="['/list-agency']"
      >
        Список риэлторских агентств
      </button>
      <button
        type="button"
        class="list-group-item list-group-item-action"
        [routerLink]="['/list-customers']"
      >
        Список покупателей
      </button>
    </div>
  </div>

  <div *ngIf="role == 'Администратор'">
    <h3 class="mt-3 mb-3">Управление заявками на обратный звонок:</h3>
    <div class="list-group">
      <button
        type="button"
        class="list-group-item list-group-item-action"
        [routerLink]="['/list-requests']"
      >
        Список заявок на обратный звонок
      </button>
    </div>

    <br />

  <h2>Дашборд</h2>
  </div>

  <div *ngIf="role == 'Риэлтор'">
    <h3 class="mt-3">Управление услугами:</h3>
    <div class="list-group">
      <button
        type="button"
        class="list-group-item list-group-item-action"
        [routerLink]="['/list-realtor-service']"
      >
        Список ваших риэлторских услуг
      </button>
    </div>
  </div>

    <div *ngIf="role == 'Владелец'">
    <h3 class="mt-3">Управление недвижимостью:</h3>
    <div class="list-group">
      <button
        type="button"
        class="list-group-item list-group-item-action"
        [routerLink]="['/list-realty']"
      >
        Список вашей недвижимости
      </button>
    </div>
  </div>
</div>
